# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Bb]in

# Visual Studio cache/options directory
.vs/

# Visual Studio Code
.vscode/

# C++ Executables
*.exe
*.out
*.app

tmp.cpp
tmp.c

[Cc][Ff]/

# a local judge plugin files
.cph 

# latex output
*.aux
*.fdb_latexmk
*.fls
*.out
catch22-algorithm-template
*synctex.gz
*.toc
*.log

